/* =============================== BOOTSTRAPPING ================================= */
*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,*:before,*:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  
  nav,footer,header,aside{display:block;}
  
  html, body {
    height:100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-align-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,button,textarea{ 
    font-family: inherit;
  }
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0; border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{ text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2, h3, h4, h5, h6{
    /* font-size:inherit; */
  }
  html,  
  body{
      height:100%;
      line-height: 1;
      font-size: 16px;
      color: #000;
  }

/* ===============================  FONTS  ================================= */
body{
    /* font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif; */
} 

/* ===============================  FLEX CLASS ================================= */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===============================  VARIABLES ================================= */ 
html{
    /* --header1: 2rem; */
    --header1: calc(2rem + 1vw);
    --header2: calc(1.7rem + 1vw);
    --header3: calc(1.5rem + 1vw);
    --header4: calc(1.3rem + 1vw);
    --header5: calc(1rem + 1vw);
    --text: calc(0.5rem + 1vw);

    --color-main: #131c27;
    --color-dark-gray: rgb(86, 86, 87);
    --color-light-gray: rgb(124, 124, 124);
    --color-purple: rgb(137, 117, 151);
}

/* ===============================  FOOTER TO THE BOTTOM ================================= */
  
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}
.main{
  flex: 1 1 auto;
}

/* ===============================   FONT-SIZEs ================================= */

h1{
    font-size: var(--header1);
}

h2{
    font-size: var(--header2);
}
h3{
    font-size: var(--header3);
}

h4, a{
    font-size: var(--header4);
}

h5{
    font-size: var(--header5);
}

li,button,label,input,p{
    font-size: var(--text);
} 

   
/* =============================== HEADER NAV ================================= */
.main-head {
    padding: 1rem 0;
    text-align: end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.main-head::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-main);
    z-index: 2;
}

.head {}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
    align-items: center;
}
.logo{
    position: relative;
    z-index: 3;
}
nav a{
    color: white;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index:2 ;
}
.nav-links .nav-link{
    margin-right: 20px;
}
.nav-links .nav-link a{
    color:  white;
    transition: all 0.3s ease 0s;
}
.nav-links .nav-link a:hover{
    color:  rgb(202, 202, 202);
}

.header__burger{
    display: none;
}

.content{
    padding: 5.6rem 0px 0px 0px;
}

/* =============================== WHOLE BODY ================================= */





/* =============================== FOOTER ================================= */
.main-footer{
    color: white;
    background: #131c27;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
}

/* =============================== MEDIA QUERIES ================================= */
@media (max-width: 999px) {}

@media (max-width: 900px){
    /* .nav-link a{
       font-size: 85%;
    } */
}

@media (max-width: 800px){}

@media (max-width: 767px){}

@media (max-width: 660px){}

@media (max-width: 510px){}

    @media (max-width: 767px){
/* =============================== BURGER MENU ================================= */

        body.lock{
            overflow: hidden;
        }
        nav{
            height: 2.5rem;
        }
        .header__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;
        }
        .header__burger span{
            background-color: #fff;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        .header__burger::before,
        .header__burger::after{
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        .header__burger::before{
            top: 0;
        }
        .header__burger::after{
            bottom: 0;
        }
        .header__burger.active span{
            transform: scale(0);
        }
        .header__burger.active::before{
              transform: rotate(45deg);
              top: 9px;
        }
        .header__burger.active::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header__menu{  
            position: fixed;
            top: -100%;
            left: 0; 
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: all 0.3s ease 0s;
            background-color: var(--color-dark-gray);
            padding: 70px 0px 0px 0px;
        }
    
        .header__menu.active{
            top: 0;
        }
    
        .nav-links{  
            display: block;
        }
    
        .nav-links li{  
            margin: 35px 0;
            text-align: center;
        }
    } 
    
   
@media (max-width: 767px){
       .content{
           padding: 5rem 0px 0px 0px;
       }
/* =============================== BURGER MENU ================================= */
}

